<div class="container jumbotron mt-4">
<mat-card >
    <mat-card-title><h1>EmsiAssignments App</h1></mat-card-title>
    <mat-card-subtitle>Welcome!</mat-card-subtitle>
    <div id="bottom" style="font-size:1em;">
      <mat-card-subtitle >
        we offer the most credible servies in the country, you can find all the assignments you may think of, register now! and start acheiving your tasks...
      </mat-card-subtitle>
  
      <p><a mat-flat-button color="accent" routerLink="/signup">Register</a></p>
      <!--<button mat-raised-button color="warn" (click)="onDelete()">DELETE</button>-->
    </div>
  </mat-card>
  </div>